<h2 class="page-header">О компании</h2>
<p>Информация</p>

<video width=100% controls="controls" >
    <source src="resource/carkhanter.webm" type='video/webm; codecs="vp8, vorbis"'>
</video>

<p><b>Введите ваши контакты, и мы свяжемся с вами!</b></p>

<p><form height="100" action="handler.php"></form></p>
<p id="caption_form"></p>
<p><textarea placeholder="Контактные данные"></textarea></p>
<button id="count">Оправить</button>


