<div class="container">
    <div>
        <label>Добавить интересующие модели</label>
    </div>
    <table>
    </table>
    <select id="select2">
        <option>Audi</option>
        <option>BMW</option>
        <option>Citroen</option>
        <option>Mercedes</option>
        <option>Reno</option>
        <option>Toyota</option>
        <option>Volkswagen</option>
        <option>Volvo</option>
    </select>
    <div>
        <button type="button" id="add" class="button">Добавить</button>
    </div>
    <div>
        <button id="count">Посчитать</button>
        <div>
            <lable>Количество добавленных:</lable>
            <div id="counter"></div>
        </div>
    </div>
    <div id="romb">
        <div class="text">
            <h1>Выберем лучшее!</h1>
        </div>
        <div class="diamond1">
            <div id="diamond"></div>
        </div>
        <div class="diamond2">
            <div id="diamond">автомобиля</div>
        </div>
        <div class="diamond3">
            <div id="diamond">Подбор</div>
        </div>
    </div>
</div>

