<h2 class="page-header">Главная</h2>
<h4>ПОДБОРАВТО - ПОДБОР И ПОМОЩЬ В ПОКУПКЕ АВТОМОБИЛЯ</h4>

<table>
    <tr>
        <td>
            <div><img class="img1" src="resource/1.png"></div>
        </td>
        <td>
            <p> Компания «ПодборАвто» оказывает помощь в подборе и покупке авто более 10-ти лет. Мы были первыми,
                кто не
                просто
                искал клиенту нужную модель в Москве и Санкт-Петербурге, а помогал купить автомашину в отличном
                состоянии, без
                юридических проблем, и гарантировал это сопроводительными документами. Мы гордимся тем, что клиенты
                по
                автоподбору обращаются к нам повторно и рекомендуют нас своим друзьям и знакомым.</p>
        </td>
    </tr>
</table>
<p>Мы поможем Вам удачно подобрать, тщательно проверить и выгодно купить подержанный автомобиль: проведем
    техническую и юридическую проверку автомобиля перед покупкой, включая проверку на угон (розыск), на
    ограничения,
    на залог. Выполним криминалистическую экспертизу – проверим номера и документы авто.</p>


<p>Обращение в компанию «ПодборАвто» – правильный шаг на Вашем пути к своему первому или очередному авто, мы
    окажем
    профессиональную помощь при выборе авто. Мы всегда рады видеть Вас в нашем офисе и диагностическом
    центре.</p>

<h4>ЧЕМ МЫ ЗАНИМАЕМСЯ</h4>
<ul>
    <li>Мы проводим комплексную оценку технического состояния машины - диагностику автомобиля (на основании сертификата
        МАДИ-ТЕСТ № 0107696 – позволяющего проводить контрольно-диагностические работы). Проверяем кузов авто –
        участвовал в ДТП или нет, выявляем детали окрашенные не на заводе изготовите, проверяем геометрию кузова
        (свидетельство федерального агенства по техническому регулированию и метрологии № 37497), проводим диагностику
        двигателя и коробки передач, определяем их остаточный ресурс. Делаем диагностику ходовой части, рулевого
        управления и тормозной системы на предмет необходимого ремонта.
    </li>

    <li>Как следствие – мы оказываем услугу по автоподбору и диагностике автомобилей на рынке Москвы, Московской области
        и Санкт-Петербурга. Предметно торгуемся с продавцом – и, зачастую, получаем скидку, превышающую стоимость наших
        услуг.
    </li>
    <li>Как следствие – мы оказываем услугу по автоподбору и диагностике автомобилей на рынке Москвы, Московской области
        и Санкт-Петербурга. Предметно торгуемся с продавцом – и, зачастую, получаем скидку, превышающую стоимость наших
        услуг.
    </li>
    <li>На приобретенные с нашей помощью машины мы предложим 2-ух месячную гарантию на основные узлы и агрегаты,
        документально подтвержденную гарантию юридической чистоты автомобиля, проверим правильность оформления всех
        документов и Вашу личную безопасность в момент сделки.
    </li>
</ul>
